<div class="alert alert-success" role="alert">
	<button class="btn btn-success pull-right" name="button">+</button>
	<a ng-click="btnTrip()"><h4>Nos voyages</h4></a>
</div>
<div ng-show="panelTrip">
	les voyages
</div>
<div class="alert alert-success" role="alert">
	<button class="btn btn-success pull-right" name="button">+</button>
	<a ng-click="btnActivity()"><h4>Nos activités</h4></a>
</div>
<div ng-show="panelActivity">
	Nos activités
</div>
<div class="alert alert-success" role="alert">
	<button class="btn btn-success pull-right" name="button">+</button>
	<a ng-click="btnPot()"><h4>Notre cagnote</h4></a>
</div>
<div ng-show="panelPot">
	la cagnote
</div>
